.login {
  background: url("https://c.tenor.com/X0lLW1hajSwAAAAM/chill-bro.gif") no-repeat;
  /* background: url("https://gfycat.com/downrightthinantelopegroundsquirrel") no-repeat; */
  height: 100%;
  background-size: cover;
  background-position: center;
}

.ph-color::placeholder {

    color: #ffffff
}