:root {
  /* --primary: rgba(26, 178, 238, 0.75); */
  --primary: #89b3dd;
  --secondary: #fdcf73;
  --third: #c5adf5;
  --grey: rgba(147, 145, 145, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
}

/* The height might need to change. */
.leaflet-container {
  height: 92vh;
  width: 100vw;
}

.primary {
  background-color: var(--primary);
}

.navbar {
  position: fixed;
  z-index: 1500;
  width: 100%;
  opacity: 0.9;
}

.leaflet-top {
  padding-top: 5.5rem;
}

.nav-color {
  background-color: var(--primary);
}

.nav-link {
  border-bottom: 1px solid var(--primary);
  transition: font-size 0.5s, padding 0.5s, ease-in-out border-bottom 0.5s, transform 0.7s;
}
.nav-link:hover {
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem 0;
  border-bottom: 1px solid #000000;
  /* transform: translate(0, -5px); */
}

.btn-color {
  background-color: var(--secondary);
  color: black;
  border: none;
  font-size: 1rem;
  transition: background-color 0.5s, color 0.5s, padding 0.5s, font-size 0.5s;
}

.btn-color:hover {
  background-color: var(--third);
  color: #ffffff;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.delete-button {
  background: url('../public/images/trash-can.png') no-repeat center/contain;
  border: none;
  align-self: end;
  max-width: 25px;
  max-height: 25px;
  transition: transform 0.5s;
}
.delete-button:focus,
.delete-button:hover {
  background-color: transparent;
  transform: rotate(20deg);
}

.list-item {
  font-weight: 500;
  font-size: 1rem;
  padding: 0.3rem 0.7rem;
  transition: font-size 0.5s, padding 0.5s, background-color 0.5s;
}

.list-item:hover {
  font-weight: 600;
  font-size: 1.2rem;
  background-color: var(--third);
  padding: 0.5rem 0.7rem;
}

.contain {
  max-width: 66px;
}

.satellite-bg {
  background: url('/images/earth.jpeg') no-repeat center / cover;
}

.street-bg {
  background: url('/images/street.png') no-repeat center / cover;
}

.dark-bg {
  background: url('../public/images/day-and-night.png') no-repeat center / cover;
}

.dark {
  background-color: rgba(147, 145, 145, 0.5);
  padding-right: 4rem;
  transition: padding-right 0.5s;
}

.dark:hover {
  padding-right: 4.6rem;
}

.view-button {
  padding: 2rem;
  max-width: 66px;
  border: none;
  transition: max-width 0.5s, padding 0.5s;
}

.view-button:hover {
  background-color: transparent;
  padding: 2.3rem;
}

.view-button:focus {
  background-color: transparent;
}

.form {
  background-color: var(--grey);
  color: #ffffff;
}

.info {
  position: absolute;
  z-index: 1200;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  animation: title 2s;
}

@keyframes title {
  from {
    color: transparent;
    font-size: 0.5rem;
  }
  to {
    color: #ffffff;
    font-size: 2.5rem;
  }
}

.map-disabled {
  pointer-events: none;
}
.map-disabled::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  z-index: 1001;
}
