:root {
  --primary: #559F32;
  --secondary: #FDCF73;
  --grey: #939191
}

* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.primary {
  background-color: var(--primary);
}

.btn-color {
  background-color: var(--secondary);
  color: black;
  border: none;
}

.btn-color:hover {
  background-color: var(--primary);
  color: #ffffff;
}

.form{
  background-color: #939191;
  color: #ffffff;
  opacity: 0.75;
}